
/* ==========================================================================
   Base styles
   ========================================================================== */

body, html {
    color: #4c4c4c;
    background-color: #ccc;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
    display: grid;
    padding: 1em;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #000;
    transition:  background-color 0.5s ease;
    font-weight: 700;
}

a:hover {
    background-color: #ead61c;
}

h1 {
    font: 2em/1.4 'Pacifico', cursive;
    padding: 0 0 25px 0;
    margin: 0;
}

.maintenace_txt {
    background-color: #fff;
    margin: auto;
    padding: 3em;
    border: 5px solid #fff;
    border-radius: 50px;
    text-align: center;
}
